@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-11-15 10:30:01
 * @version $Id$
 */
*{
	padding:0;
	margin: 0
}
body{
    background: url("../images/bg.png");
    background-size:100%;
}
.bgNone{
    background: no-repeat;
}

.w143{
    width: 143px;
}