@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-11-24 11:18:59
 * @version $Id$
 */
.grid_wrapper{   
 width: 150px;   
 height: 210px;   
 margin-left: auto;   
 margin-right: auto;   
}   
.grid{   
 margin-left: 0;   
 margin-top: 0;   
}   
.grid:after{   
 content: ".";   
 display: block;   
 line-height: 0;   
 height: 0;   
 clear: both;   
 visibility: hidden;   
 overflow: hidden;   
}   
.grid a,.grid a:visited{   
 float: left;   
 display: inline;   
 border: 0 solid #ccc;   
 width: 50px;   
 height: 70px;   
 text-align: center;   
 text-decoration: none;
font-size: 12px;
 // line-height: 50px;   
 // margin-left: -0;   
 // margin-top: -0;   
 position: relative;   
 z-index: 1;   
}   
.grid a:hover{   
 border-color: #f00;   
 z-index: 2;   
}   